.hidden {
  display: none;
}

.intro {
  text-align: center;
}

.intro h1 {
  font-family: fantasy;
}

.survey h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.results {
  text-align: center;
}

.results h1 {
  font-family: fantasy;
}

